<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ site.data.manifest['main.css'] }}">
    <title>{{ page.title }}</title>
</head>
<body class="border-denim-800 p-8 min-h-screen min-w-full border-8">
<h1 class="text-6xl font-serif">{{page.title}}</h1>
{% if page.subtitle %}
<h2  class="text-2xl font-sans font-light mt-2 mb-4">{{ page.subtitle }}</h2>
{% endif %}
{% if page.image %}
<img  class="text-2xl font-sans font-light mt-2 mb-4" src="{{page.image}}"/>
{% endif %}
<a href="/" class="underline">Back to home</a>
{{ content }}
</body>
</html>